# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.npm/
.npmrc
.yarn/
.cache/
.pnpm-store/

# Editor directories and files
.idea/             # JetBrains IDEs (WebStorm)
.vscode/           # VSCode
Thumbs.db          # Windows thumbnail cache

# dotenv environment variables
.env

